<header class="main-header">
    <div class="top-bar">
        <img src="./images/logo-mercado-liebre.svg" alt="logo mercado liebre" class="logo">
        <form class="formulario" action="/">
            <div class="buscador">
                <input class="input" placeholder="Buscar productos, marcas">
                <button class="lupa"><i class="fa fa-search"></i></button>
            </div>
        </form>
        <p><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de credito</p>
    </div>
    <div class="lower-bar">
        <nav>
            <ul class="left-nav">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="right-nav">
                <li><a href="register">Creá tu cuenta</a><i class="far fa-id-card"></i></li>
                <li><a href="login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="#">Mis Compras</a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </div>
</header>