<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head", {title:"Change Password"}) %>

<body>
    
    <%- include("./partials/header") %>

    <main id="login-register">
        <form class="form-log" action="/user/perfil" method="POST">
            <div class="log">
                <input class="texto" type="text" name="contrasenia" placeholder="Contraseña anterior">
            </div>
            <div class="log">
                <input class="texto" type="password" name="contraseniaNueva" placeholder="Contraseña nueva">
            </div>
            <div class="log">
                <input class="texto" type="password" name="contraseniaNueva" placeholder="Repetir contraseña nueva">
            </div>
            <div class="button">
                <button class="button-login" type="submit">Ingresar</button>
            </div>
        </form>
    </main>

    <%- include("./partials/footer") %>
    
</body>
</html>