<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header class="main-header">
        <div class="top-bar">
            <img src="./images/logo-mercado-liebre.svg" alt="logo mercado liebre" class="logo">
            <form class="formulario" action="/">
                <div class="buscador">
                    <input class="input" placeholder="Buscar productos, marcas">
                    <button class="lupa"><i class="fa fa-search"></i></button>
                </div>
            </form>
            <p><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de credito</p>
        </div>
        <div class="lower-bar">
            <nav>
                <ul class="left-nav">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="right-nav">
                    <li><a href="register">Creá tu cuenta</a><i class="far fa-id-card"></i></li>
                    <li><a href="login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                    <li><a href="#">Mis Compras</a><i class="fas fa-shopping-basket"></i></li>
                </ul>
            </nav>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </header>
    <main id="formulario-register">
        <form class="formularios" action="/" method="GET">
            <div class="div-input">
                <input class="text-field" type="text" name="nombreUsuario" placeholder="Nombre y Apellido">
            </div>
            <div class="div-input">
                <input class="text-field" type="text" name="IDUsuario" placeholder="Nombre de Usuario">
            </div>
            <div class="div-input">
                <input class="text-field" type="email" name="email" placeholder="E-mail">
            </div>
            <h3>Fecha de nacimiento</h3>
            <div class="div-input">
                <input class="date" type="date" name="fechaNacimiento" value="1980-01-01">
            </div>
            <div class="div-input">
                <input class="text-field" type="text" name="domicilio" placeholder="Domicilio">
            </div>
            <h3>Perfil de interes</h3>
            <div class="selecciones">
                <div class="radio">
                    <input type="radio" name="perfil" value="comprador" id="comprador"><label for="comprador">Comprador</label>
                </div>
                <div class="radio">
                    <input type="radio" name="perfil" value="vendedor" id="vendedor"><label for="vendedor">Vendedor</label>
                </div>
            </div>
            <h3>Categorias de interes</h3>
            <div class="selecciones-checkbox">
                <div>
                    <input type="checkbox" name="interes" value="electro" id="electro"><label for="electro">Electro</label>
                </div>
                <div>
                    <input type="checkbox" name="interes" value="moda" id="moda"><label for="moda">Moda</label>
                </div>
                <div>
                    <input type="checkbox" name="interes" value="hogar" id="hogar"><label for="hogar">Hogar</label>
                </div>
                <div>
                    <input type="checkbox" name="interes" value="jugueteria" id="jugueteria"><label for="jugueteria">Jugueteria</label>
                </div>
                <div>
                    <input type="checkbox" name="interes" value="vidaSana" id="vidaSana"><label for="vidaSana">Vida sana</label>
                </div>
            </div>
            <div class="div-input">
                <label class="foto" for="foto">Cargar foto</label>
                <input type="file" name="foto" id="foto">
            </div>
            <div class="div-input">
                <input class="text-field" type="password" name="contrasenia" placeholder="Contraseña">
            </div>
            <div class="div-input">
                <input class="text-field" type="password" name="confirmarcontrasenia" placeholder="Confirmar Contraseña">
            </div>
            <div class="div-input botones">
                <button class="botonForm botonSubmit" type="submit">Enviar</button>
                <button class="botonForm botonReset" type="reset">Borrar</button>
            </div>
        </form>
    </main>
    <footer>
        <div class="adiciones">
            <section class="center">
                <div class="icon"><i class="fas fa-credit-card"></i></div>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin  </p>
                <p>interés con tarjeta o efectivo en puntos de</p>
                <p class="final">pago. ¡Y siempre es seguro!</p>
            </section>
            <section class="center">
                <div class="icon"><i class="fas fa-gift"></i></div>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre </p>
                <p>tenés envíos gratis en miles de productos. Es</p>
                <p class="final">un beneficio de Mercado Puntos.</p>
            </section>
            <section class="center">
                <div class="icon"><i class="fas fa-user-shield"></i></div>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre,</p>
                <p>no hay nada que no puedas hacer, porque</p>
                <p class="final">estás siempre protegid@.</p>
            </section>
        </div>
        <div class="copyright">
            <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        </div>
    </footer>
</body>
</html>